/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

/* Styles for the body */

body {
font-family: 'Fredoka', sans-serif;
	color: #161426;
	background-color: #F2F0F2;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #A979D9;
	text-shadow: 2px 2px purple;
}

.resume-main {
	background-color: #ECD8F2;
}

.resume-aside {
	background-color: #E0ACF6;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "*";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #4A1259;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.language-progress {
	background-color: #672E8C; 
}

.border-2 {
	border-color: #672E8C !important;
}

a:link {

color: mediumpurple;

}

a:visited {

color: mediumpurple;

}